<div class="container">
	<div class="form-group">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-1 pull-right">

				<form action="<%= session_url %> " method="post" class="user-signin">
					<h1> Sign In! </h1>
					<input
					name="authenticity_token"
					type="hidden"
					value="<%= form_authenticity_token %>">

					<label for="user_email">Email</label>
					<br>
					<input
					id="user_email"
					name="user[user_email]"
					type="text"
					class="form-control">
					<br>

					<label for="user_password">Password</label> <br>
					<input
					id="user_password"
					name="user[password]"
					type="password"
					class="form-control">
					<br>
					<br>

					<input type="submit" class="btn btn-primary" value="Sign In!">
				</form>
			</div>
		</div>
	</div>
</div>