<div class="front-page">

<div class="col-xs-1 col-xs-offset-2">
<div class="logo"><img src="/assets/roly_logo.png"></div>
</div>

<div class="col-xs-3">
<h3> Welcome to Roly Polly </h3>
This is a web app where you can make polls to share with all your friends.

</div>

<div class="col-xs-2 col-xs-off-1"></div>

<div class="col-xs-5 col-xs-offset-3"></div>









</div>