<h3> New Poll </h3>

<form> 

	<label>Title
		<input name="poll[title]" type="text">
		</label>
		<br>
		<br>
	<h4> Answer Choices </h4>
	<div class="more-ans">
		<input name="answer[title]" type="text">
	</div>
	<button type="button" id="add-answer" class="btn btn-primary btn-xs">+</button>
	<br>
	<br>

	<button class="create-poll btn btn-success">Create Poll</button>
</form>