

<div class="form-group">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-1">

			<form action="<%= users_url %>" method="post">
				<input
				name="authenticity_token"
				type="hidden"
				value="<%= form_authenticity_token %>">

				<label for="user_username">Username</label>
				<br>
				<input
				id="user_username"
				name="user[username]"
				type="text"
				style="width: 300px;"
				>
				<br>

				<label for="user_email"> Email</label>
				<br>
				<input type="email" name="user[user_email]" id="user_email"
				style="width: 300px;"
				>

				<br>

				<label for="user_password">Password</label> <br>
				<input
				id="user_password"
				name="user[password]"
				type="password"
				style="width: 300px;"
				>
				<br>
				<br>
				<input type="submit" class="btn btn-primary" value="Sign Up!">
			</form>
		</div>
	</div>
</div>