<div class="row">

	<div class="col-xs-1 sidebar">
		
		<div class="navbar-example affix">
			<h2> My Controls</h2>
			<ul class="nav nav-pill">
				<li><a href="#" class="side-butts"> My Polls</a>
				<li><a href="#/polls/new" class="side-butts">Create Poll </a> 
			</ul>
		</div>
		
	</div>	

	<div class="content col-xs-10 col-xs-offset-0.5">
	</div>
</div>