<div class="row main-row">

	<div class="col-xs-1 sidebar">
		
		<div class="navbar-example affix">
			

			<ul class="nav nav-pill navvy">
			 <h3 class="user-name"><%= current_user.username %> </h3> 
			<hr>
			<h4> My Controls</h4>
				<li><a href="#" class="side-butts"> My Polls</a>
				<li><a href="#/polls/new" class="side-butts">Create Poll </a> 
				<li><%= link_to "All Polls", allpolls_url + "#/allpolls", :class => "side-butts" %></li>
				<li><a>Watched polls <small>coming soon</small></li>
			</ul>
		</div>
		
	</div>	

	<div class="content col-xs-10 col-xs-offset-0.5">
	</div>
</div>