/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.sidebar {
	background-color: #7B7B95;
	margin-left: 30px;
	width: 200px;
}

.content {
	border-style: dotted;
	border-color: #CF8DDF;
	margin-left: 30px;
}

.outt {
	margin-top: 10px;

}