// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index {
background-color: #33334C;
color:#ffffff;
text-align: center;
width: 100%;
}


.polls-contain {
	overflow: scroll;
	height: 500px;
}

.tiny {
	background-color: blue;
	height: 20px;
	width: 5px;
	color: white;
	outline: 0;
}