// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index {
background-color: #33334C;
color:#ffffff;
text-align: center;
width: 100%;
}

svg {
	padding: 10px;
}

.polls-contain {
	overflow: scroll;
	height: 500px;
}

.ans-ch {
	margin-top: 5px;
}

.buttss {
	margin-top: 5px;
}



.input-ch {
	width: 350px;
	height: 40px
}


.index-tron {
	border-radius: 20px;
	background-color: #FFFFFF;
	opacity: 0.7;
	height: 700x;
	max-width: 70%;
	margin-left: 10%;
}

.poll-bar a {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  border: 0;
  color: blue;
  width: 120px;
  background-color: white;
  font: inherit;
  vertical-align: baseline;
}

.poll-bar a:hover {
	background-color: lightblue;
	color: black;
}


.poll-bar button {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  border: 0;
  color: blue;
  width: 120px;
  background-color: white;
  font: inherit;
  vertical-align: baseline;
}

.poll-bar button:hover {
	background-color: lightblue;
	color: black;
}


.poll-bar {
	height: 400px;
	background-color: pink;
	opacity: 0.6;
	max-width: 120px;
	text-align: center;
}

.poll-bar h4{
	background-color: black;
	opacity: 1;
	color: pink;
}



/* button rotation */

.rotate {

border-radius: 10px;
background: teal;
color: white;
font-weight:bold;
font-size:15px;
padding:10px 15px;
border:none;
margin:10px;
cursor:pointer;

-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;

-o-transition-property:width,height,-o-transform,background,font-size,opacity,color;
-o-transition-duration:1s,1s,1s,1s,1s,1s,1s;

-moz-transition-property:width, height, -moz-transform, background, font-size, opacity, color;
-moz-transition-duration:1s,1s,1s,1s,1s,1s,1s;

transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;

-webkit-border-radius:5px;
border-radius:5px;

box-shadow:0 0 2px rgba(0,0,0,0.5);

text-shadow:0 0 5px rgba(255,255,255,0.5);

display:inline-block;    /* It is important for the button to rotate*/
}


.rotate:hover
{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);

background:green;
font-size:30px;
color:#fff;
}

.the-poll h3 {
	color: white;
}

.the-poll td{
	color: white;
	font-size: 150%;
}

.poll-attrs h2{
	color: white;
}

.poll-attrs td{
	color: white;
	font-size: 130%;
}

.poll-attrs td:hover{
	background: pink;
}

.poll-attrs th{
	color: white;
}


/* form */

.roly-form {
	background-color: rgba(255, 255, 255, 0.8);
	max-width: 40%;
	float: left;
	margin-left: 90px;
	margin-top: 120px;
	border-radius: 10px;
}


/* charts */


.poll-chart .slice {
  stroke: white;
  stroke-width: 1;
}

.poll-chart .slice text{

	font-size: 175%;
	stroke-width: 0.1;
	stroke: black;
	fill: white;
}


/* frontpage */

.front-page {
	height: 620px;
	margin-left: auto;
	margin-right: auto;
}

.front-page h3 {
	color: #D11963;
}

.front-page div {
	color: white;
}



/* logo */


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.logo img:hover
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         2s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}